# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
WEBHOOK_SECRET=

# Bot Github Account Token
GITHUB_ACCESS_TOKEN=

# Database Config
BOT_DB_HOST=127.0.0.1
BOT_DB_PORT=3306
BOT_DB_USERNAME=root
BOT_DB_PASSWORD=
BOT_DB_NAME=community