name: Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/

jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12
      -
        name: Cache NPM dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-npm-cache-
      -
        name: Install dependencies
        run: npm ci
      -
        name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release